<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "The O'Chapos are Getting Married!" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag "https://use.typekit.net/bwv5kfk.js" %>
    <%= javascript_include_tag "https://use.typekit.net/lue0fxo.js" %>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.18/paper-full.min.js" %>
    <%= javascript_include_tag  "all.js" %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
